<?xml version="1.0" encoding="utf-8"?>
<Products>
  <Product
      Name="DHI.Solutions.Core">
    <Plugins>
      <Plugin
        Name="DHI.Solutions.Generic.Business.Workspace"
        Type="DHI.Solutions.Generic.IDTO"
        Assembly="DHI.Solutions.Generic.Business.dll" />
      <Plugin
        Name="DHI.Solutions.Generic.Business.DssAdmin"
        Type="DHI.Solutions.Generic.IDTO"
        Assembly="DHI.Solutions.Generic.Business.dll" />
      <Plugin
        Name="DHI.Solutions.Generic.Business.UserWorkspace"
        Type="DHI.Solutions.Generic.IDTO"
        Assembly="DHI.Solutions.Generic.Business.dll" />
      <Plugin
        Name="DHI.Solutions.Generic.Business.User"
        Type="DHI.Solutions.Generic.IDTO"
        Assembly="DHI.Solutions.Generic.Business.dll" />
      <Plugin
        Name="DHI.Solutions.Generic.Business.GlobalRole"
        Type="DHI.Solutions.Generic.IDTO"
        Assembly="DHI.Solutions.Generic.Business.dll" />
      <Plugin
        Name="DHI.Solutions.Generic.Business.WorkspaceRole"
        Type="DHI.Solutions.Generic.IDTO"
        Assembly="DHI.Solutions.Generic.Business.dll" />
      <Plugin
        Name="DHI.Solutions.Generic.Business.UserLoginStatus"
        Type="DHI.Solutions.Generic.IDTO"
        Assembly="DHI.Solutions.Generic.Business.dll" />
      <Plugin
        Name="DHI.Solutions.Generic.Data.FakeDTO"
        Type="DHI.Solutions.Generic.IDTO"
        Assembly="DHI.Solutions.Generic.Data.dll" />
    </Plugins>
  </Product>
  <Product
      Name="DHI.Solutions.GISManager">
    <Plugins>
      <Plugin
        Name="DHI.Solutions.GISManager.UI.GISExplorer"
        Type="DHI.Solutions.Generic.IExplorerControl"
        Assembly="DHI.Solutions.GISManager.UI.dll" />
      <Plugin
        Name="DHI.Solutions.GISManager.UI.ThinkGeo.MapDataView"
        Type="DHI.Solutions.Generic.IDataViewControl"
        Assembly="DHI.Solutions.GISManager.UI.ThinkGeo.dll" />
      <Plugin
        Name="DHI.Solutions.GISManager.Business.Module"
        Type="DHI.Solutions.Generic.IModule"
        Assembly="DHI.Solutions.GISManager.Business.dll" />
      <Plugin
        Name="DHI.Solutions.GISManager.PostGISDataProvider.PostGISDataProvider"
        Type="DHI.Solutions.GISManager.Interfaces.IGISDataProvider"
        Assembly="DHI.Solutions.GISManager.PostGISDataProvider.dll" />
      <Plugin
        Name="DHI.Solutions.GISManager.PostGISRasterDataProvider.PostGISRasterDataProvider"
        Type="DHI.Solutions.GISManager.Interfaces.IRasterDataProvider"
        Assembly="DHI.Solutions.GISManager.PostGISRasterDataProvider.dll" />
      <Plugin
        Name="DHI.Solutions.GISManager.GISProcessor.GISProcessor"
        Type="DHI.Solutions.GISManager.Interfaces.IGISProcessor"
        Assembly="DHI.Solutions.GISManager.GISProcessor.dll" />
      <Plugin
        Name="DHI.Solutions.GISManager.PostGISRasterProcessor.PostGISRasterProcessor"
        Type="DHI.Solutions.GISManager.Interfaces.IRasterProcessor"
        Assembly="DHI.Solutions.GISManager.PostGISRasterProcessor.dll" />
      <Plugin
        Name="DHI.Solutions.GISManager.Data.FakeDTO"
        Type="DHI.Solutions.Generic.IDTO"
        Assembly="DHI.Solutions.GISManager.Data.dll" />
      <Plugin
        Name="DHI.Solutions.GISManager.UI.Tools.TIFFRasterImportTool.TIFFRasterImportTool"
        Type="DHI.Solutions.Generic.ITool"
        Assembly="DHI.Solutions.GISManager.UI.Tools.TIFFRasterImportTool.dll" />
    </Plugins>
  </Product>
  <Product
      Name="License">
    <Plugins>
      <Plugin
        Name="DHI.Solutions.LicenseProvider.LicenseProvider"
        Type="DHI.Solutions.Generic.ILicenseProvider"
        Assembly="DHI.Solutions.LicenseProvider.dll" />
    </Plugins>
  </Product>
  <Product
    Name="CustomPlugins">
    <Plugins />
  </Product>
</Products>